# Python 3.7.5

torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.11.4
torchvision==0.14.1

nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvcc==11.3.58
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-pyindex==1.0.9

numpy==1.21.6
timm==0.3.2
# timm==0.9.7
wandb==0.16.1